<div class="wrapper-content">
    <div class="lens"></div>
    <div class="container">
        <div class="logo">
            <img src="../../assets/img/logo.png"/>
        </div>    
        <h1 class="search-title">search</h1>
        <h1 class="big-title">discover</h1> 
        <h1>enjoy</h1>   
        <button class="btn btn-1" (click)="presenter.layerService.redirectToLoginSpotify()">
            Login with Spotify
        </button>
        <p> Use you <span>Spotify</span> account to search albums and tracks </p>
    </div>
 </div> 