@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Permanent+Marker:200italic,700italic,400,700');

//Colours
$spoti-green: #1db954;
$lg-grey: #EFEFEF;
$lg-green: #69FF0C;

//Font and text
$bg-text: 'Permanent Marker', sans-serif;
$hd-text: 'Montserrat', serif; 
$nm-text: 'Open Sans', sans-serif;